@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Poppins";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  position: relative;
  background-color: hsl(257deg, 40%, 49%);
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/images/bg-mobile.svg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
@media (min-width: 1440px) {
  body::before {
    background-image: url(/images/bg-desktop.svg);
  }
}
body::after {
  content: "";
  position: absolute;
  top: 120px;
  left: 40px;
  background-image: url(/images/illustration-mockups.svg);
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
@media (min-width: 1440px) {
  body::after {
    width: 50%;
    left: 65px;
    top: 190px;
  }
}

header {
  padding-top: 10px;
}
@media (min-width: 1440px) {
  header {
    width: 35%;
    margin-top: 30px;
    margin-left: -30px;
  }
}

.wrapper {
  width: 90%;
  display: grid;
  grid-template-rows: 320px 200px 220px;
  padding: 1.25rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}
@media (min-width: 1440px) {
  .wrapper {
    grid-template-rows: 150px 300px 250px;
    text-align: start;
  }
}
.wrapper img {
  width: 40%;
}

@media (min-width: 1440px) {
  .main {
    max-width: 500px;
    justify-self: flex-end;
    margin-right: 10px;
  }
}
.main__title {
  font-size: 25px;
  color: white;
  margin-top: 60px;
}
@media (min-width: 1440px) {
  .main__title {
    font-size: 35px;
    max-width: 400px;
  }
}
.main__description {
  color: white;
  margin: 15px auto 25px auto;
  font-size: 15px;
  font-weight: 100;
  opacity: 0.8;
}
.main__button {
  border: none;
  padding: 13px 75px;
  border-radius: 30px;
  font-size: 13px;
  color: hsl(257deg, 40%, 49%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 250ms;
}
@media (min-width: 1440px) {
  .main__button {
    padding: 15px 70px;
  }
}
.main__button:hover {
  background-color: hsl(300deg, 69%, 71%);
  color: white;
}

.footer {
  margin-top: auto;
  display: flex;
  margin-left: 20px;
}
@media (min-width: 1440px) {
  .footer {
    justify-self: flex-end;
    padding-right: 20px;
    margin-bottom: -40px;
  }
}
.footer__list {
  display: flex;
  list-style: none;
}
.footer__list a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  transition: all 250ms;
}
.footer__list a:hover {
  border-color: hsl(300deg, 69%, 71%);
  color: hsl(300deg, 69%, 71%);
  transform: translateY(-3px);
}/*# sourceMappingURL=main.css.map */